@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-header: #000;
  --background-icons: #fff;
  --background-bodyimages: #e0e0e0;
  --letter-footer: #bdbdbd;
  font-family: "Inter", sans-serif;
}

.bg-header {
  display: flex;
  justify-content: center;
  padding: 28px 0;
  background: var(--background-header);
}

.logo-header {
  display: block; /*Preferência colocar displya block em imagens*/
}

.banner-pc {
  display: block;
  width: 100%;
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
}

.container-text {
  max-width: 766px;
}

.middle-text {
  display: flex;
  justify-content: center;
}

.text-subtitle {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.text-title {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.text-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.banner-card {
  margin-top: 65px;
  max-width: 315px;
}

.container-icons {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  padding: 187px 0 80px;
  gap: 21px;
}

.icon-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 26px;
  background: var(--background-icons);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}
.icon-image {
  display: block;
  margin-bottom: 26px;
}

.card-description {
  max-width: 300px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.bg-images {
  background: var(--background-bodyimages);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  justify-content: center;
  position: relative;
  top: 64px;
  margin-bottom: 138px;
  padding: 0 94px;
}
.images-grid .img-desk {
  width: 100%;
}

.container-icons-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 0 72px 80px;
  gap: 16px;
}

.icon-cards-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-icons);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.icon-image-2 {
  display: block;
  margin: 32px 14px;
}
.card-description-2 {
  text-align: center;
  padding: 0 32px 65px;
  max-width: 300px;
  font-size: 16px;
  line-height: 24px;
}

.container-text-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-wrapper {
  align-self: center;
  text-align: center;
  max-width: 550px;
}

.text-title-2 {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 20px;
  margin-bottom: 18px;
}

.text-description-2 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}
.footer-image {
  align-self: center;
  margin-bottom: 104px;
}

.bg-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 0;
  background: var(--background-header);
}
.container-icons-footer {
  display: flex;
  list-style: none;
  margin-bottom: 16px;
}
.footer-icons {
  margin: 0 8px;
}
.footer-description {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #bdbdbd;
}

@media screen and (min-width: 415px) {
  .banner-mobile,
  .mobile-image {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .banner-desktop,
  .desktop-image {
    display: none;
  }
  .container-icons {
    display: flex;
    flex-direction: column;
    padding: 80px 31px 0;
  }
  .container-icons-2 {
    display: flex;
    flex-direction: column;
    margin: 16px 24px 80px;
  }
  .card-description-2 {
    padding: 0 32px 65px;
  }
  .text-wrapper {
    max-width: 350px;
    margin: 0 33px 104px;
  }
  .text-title-2 {
    font-size: 24px;
    line-height: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .text-description {
    margin: 0 26px 0 31px;
  }
  .text-subtitle {
    font-size: 20px;
  }
  .text-title {
    font-size: 28px;
  }
  .banner-card {
    max-width: 230px;
  }
  .bg-images {
    margin-top: 80px;
  }
  .container-images {
    grid-template-columns: repeat(2, 1fr);
    top: 32px;
    padding: 0 23px;
  }
  .images-grid:last-child {
    grid-column-end: span 2;
  }
  .bg-footer {
    padding-bottom: 26px;
  }
  .footer-description {
    max-width: 280px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-mobile {
    display: none;
  }
  .footer-image {
    width: 100%;
  }
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  .text-wrapper {
    margin-top: 51px;
    max-width: 350px;
  }
  .footer-image {
    width: 100%;
  }
  .footer-desktop {
    display: none;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .container-icons {
    display: flex;
    flex-direction: column;
    padding: 80px 31px 0;
  }
  .container-icons-2 {
    display: flex;
    flex-direction: column;
    margin: 16px 24px 80px;
  }
  .card-description-2 {
    padding: 0 32px 65px;
  }
  .text-wrapper {
    max-width: 350px;
    margin: 0 33px 104px;
  }
  .text-title-2 {
    font-size: 24px;
    line-height: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .container-icons {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-description {
    max-width: 432px;
  }
  .container-icons-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
